<div class="content container">
    <h1 class="fs-1 mb-5">Languages</h1>

    <div class="d-flex">
    
        <app-country-box text="German" imgPath="assets/Images/countries/germany.png" url="languages/german"></app-country-box>

        <app-country-box text="Hungarian" imgPath="assets/Images/countries/hungary.png" url="languages/hungarian"></app-country-box>

        <app-country-box text="English" imgPath="assets/Images/countries/england.png" url="languages/english"></app-country-box>
    </div>
</div>
