
<div class="d-flex container heroSection" style="margin-top: 80px;">
    <div class="w-50 mt-5 pt-5">
        <h1 class="fs-1 mb-4 w-75">Become fluent with any language with LangBoss</h1>
        <p class=" mb-5 w-75">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu imperdiet velit, eget feugiat metus. Donec convallis neque in leo condimentum, ac lacinia risus tincidunt. Vestibulum condimentum ex nulla, at interdum nisl commodo at. Sed vitae nisi augue. Nullam placerat vel dolor vitae ullamcorper. </p>
        <button class="btn btn-lg rounded-pill text-capitalize btnColor">Get Started</button>
    </div>

    <div class="w-50 d-flex justify-content-center align-items-center">
        <div class="img bg-dark rounded-circle photo" style="height: 31em; width: 31em"></div>
    </div>
    
</div>


<app-content-box title="Learn to Speak a Language - Don't Just Study it." text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu imperdiet velit, eget feugiat metus. Donec convallis neque in leo condimentum, ac lacinia risus tincidunt. Vestibulum condimentum ex nulla, at interdum nisl commodo at. Sed vitae nisi augue. Nullam placerat vel dolor vitae ullamcorper."></app-content-box>

<app-content-box title="What Makes LangBoss so Effective?" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu imperdiet velit, eget feugiat metus. Donec convallis neque in leo condimentum, ac lacinia risus tincidunt. Vestibulum condimentum ex nulla, at interdum nisl commodo at. Sed vitae nisi augue. Nullam placerat vel dolor vitae ullamcorper." type="type2"></app-content-box>

<app-content-box title="Understand Everyone" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu imperdiet velit, eget feugiat metus. Donec convallis neque in leo condimentum, ac lacinia risus tincidunt. Vestibulum condimentum ex nulla, at interdum nisl commodo at. Sed vitae nisi augue. Nullam placerat vel dolor vitae ullamcorper."></app-content-box>


