<h1 class="mb-5">{{title}}</h1>

<div class="mb-5">
    <form class="w-50">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Foreign word</label>
          <input type="text" class="form-control" id="foreignWord" name="foreignWord" [(ngModel)]="inputValues.word">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Translation</label>
          <input type="text" class="form-control" id="translationWord" name="translationWord" [(ngModel)]="inputValues.translation">
        </div>
        <button type="submit" class="btn mt-3" (click)="submitForm()">Submit</button>
    </form>
</div>


