<div class="my-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Word</th>
            <th scope="col">Translation</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let obj of data">
            <td class="text-lowercase">{{obj.word}}</td>
            <td class="text-lowercase">{{obj.translation}}</td>
            <td class="delete"><button (click)="delete(obj)">delete</button></td>
            <td class="update"><a [routerLink]="['update/', obj.id]">update</a></td>
          </tr>
        </tbody>
      </table>
</div>
